.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 10px;
    position: relative;
    margin: 2px 0;
    width: 290px;
    border-top: 1px solid  #EAEAEA;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.userAvatar {
    width: 50px;
}
